In [9]:
from geopy.distance import geodesic

In [10]:
import numpy
import pandas
df = pandas.read_csv('/Users/zhehaoyu/Desktop/MCM/模考/D/代码/1/order_20161101',encoding="utf-8")
df = df.drop(['eb9dd4095d9850e6287cefd813775a6c'],axis=1)
df.columns = ['times','timee','sl','ss','el','es']
df.describe()

,times,timee,sl,ss,el,es
count,4.240720e+05,4.240720e+05,424072.000000,424072.000000,424072.000000,424072.000000
mean,1.478025e+09,1.478027e+09,104.071626,30.673650,104.070591,30.672831
std,4.750533e+04,4.750505e+04,0.041706,0.039043,0.322629,0.102728
min,1.477930e+09,1.477930e+09,103.463940,30.321640,0.000000,0.000000
25%,1.477983e+09,1.477984e+09,104.049714,30.654762,104.049900,30.654130
50%,1.478019e+09,1.478020e+09,104.072952,30.670710,104.073210,30.670404
75%,1.478069e+09,1.478071e+09,104.096510,30.692682,104.096620,30.692830
max,1.478102e+09,1.478177e+09,104.483069,31.014370,104.796760,31.459680

In [4]:
data = df.loc[:,['sl','ss']]
data2= df.loc[:, ['el','es']]
data2.rename(columns={'el':'sl', 'es':'ss'}, inplace = True)
data = data2.append(data, ignore_index = False)
data.describe()

                  sl             ss
count  848144.000000  848144.000000
mean      104.071109      30.673241
std         0.230032       0.077710
min         0.000000       0.000000
25%       104.049770      30.654540
50%       104.073180      30.670563
75%       104.096580      30.692770
max       104.796760      31.459680

In [11]:
def dist (lon1, lat1, lon2, lat2):
    return geodesic((lat1,lon1),(lat2,lon2)).km

In [12]:
class Hotpoint:
    def __init__(self, lon, lat):
        self.lon = lon
        self.lat = lat
        self.around = 0

class Endpoint:
    def __init__(self, lon, lat):
        self.lon = lon
        self.lat = lat
        self.around = 0

In [13]:
# calculate end point
ed = []
for index, row in df.iterrows():
    flag = True 
    for v in ed:
        if dist(row['el'], row['es'], v.lon, v.lat) < 1 :
            flag = False
            break
    if flag:
        ed.append(Endpoint(row['el'],row['es']))

In [16]:
vs = []
for index, row in data.iterrows():
    flag = True 
    for v in vs:
        if dist(row['sl'], row['ss'], v.lon, v.lat) < 2 :
            flag = False
            break
    if flag:
        vs.append(Hotpoint(row['sl'],row['ss']))

In [15]:
dt = data[1:848143:50]

NameError: name 'data' is not defined

In [18]:
# calculate probability
for v in vs:
    cnt = 0
    for index, row in dt.iterrows():
        if dist(row['sl'], row['ss'], v.lon, v.lat) < 2 :
            cnt = cnt+1
        v.around = cnt

In [ ]:
for v in ed:
    cnt = 0
    for index, row in dt.iterrows():
        if dist(row['el'], row['es'], v.lon, v.lat) < 1:
            cnt = cnt+1
        v.around = cnt

In [31]:
temp = vs[:]
for v in vs:
    if v.around < 30:
        temp.remove(v)
vs=temp

In [32]:
def take_around(v):
    return v.around

In [33]:
vs.sort(key=take_around, reverse=True)

In [14]:
lon=[]
lat=[]
cnt=[]
for v in ed:
    lon.append(v.lon)
    lat.append(v.lat)
    cnt.append(v.around)

edd = pandas.DataFrame({'lon':lon,'lat':lat, 'cnt':cnt})
edd

             lon        lat  cnt
0     104.063700  30.589510    0
1     104.105324  30.663950    0
2     104.043860  30.682320    0
3     104.104421  30.695113    0
4     104.000170  30.676930    0
5     104.042790  30.717170    0
6     104.051500  30.766300    0
7     104.073181  30.702131    0
8     104.089270  30.650850    0
9     104.058760  30.676690    0
10    104.079640  30.658470    0
11    104.079100  30.601320    0
12    104.065740  30.690100    0
13    104.090850  30.620860    0
14    104.066144  30.709336    0
15    104.057330  30.699250    0
16    104.077100  30.690250    0
17    104.011370  30.676100    0
18    104.141620  30.628690    0
19    104.139630  30.644120    0
20    104.088850  30.688920    0
21    104.062020  30.722450    0
22    104.061520  30.642740    0
23    104.085310  30.637990    0
24    104.170790  30.632280    0
25    104.144240  30.672820    0
26    104.062960  30.653890    0
27    104.047320  30.627060    0
28    104.027790  30.695670    0
29    104.029250  30.744290    0
...          ...        ...  ...
1002  103.572280  30.402270    0
1003  103.505410  30.188260    0
1004  104.434250  30.859060    0
1005  104.041910  30.993020    0
1006  104.640840  30.121390    0
1007  104.294330  30.797930    0
1008  103.724300  30.915500    0
1009  103.860080  30.353340    0
1010  104.311850  30.617610    0
1011  103.905620  31.059760    0
1012  104.104970  30.433770    0
1013  103.927640  30.516880    0
1014  103.781740  30.679930    0
1015  104.057330  30.987060    0
1016  104.796760  30.358670    0
1017  104.165958  30.381792    0
1018  103.880240  30.903310    0
1019  104.283980  30.585220    0
1020  104.541850  30.699410    0
1021  104.076900  30.799950    0
1022  104.241140  30.736080    0
1023  104.028930  30.550980    0
1024  103.487330  30.520830    0
1025  104.232530  30.831870    0
1026  104.178300  30.581270    0
1027  104.386331  31.150326    0
1028  103.737790  30.773070    0
1029  103.976400  30.456550    0
1030  103.929290  30.470210    0
1031  103.678580  30.617550    0

[1032 rows x 3 columns]

In [17]:
from pickle import load
input = open('/Users/zhehaoyu/Desktop/MCM/模考/D/代码/zsj_algorithm_0.1.0/data/pos_data', 'rb')
pos_list = load(input)
input.close()
print(pos_list[4371])

(4371, (104.0516678, 30.7000894))

In [18]:
maps = []
for i in range(edd.shape[0]):
    lat = edd['lat'][i]
    lon = edd['lon'][i]
    dis = []
    for pos in pos_list:
        temp = geodesic((lat,lon),(pos[1][1],pos[1][0])).m
        dis.append(temp)
    maps.append(dis.index(min(dis)))

In [21]:
import pandas as pd

In [24]:
m = pd.DataFrame(maps)
edd['index'] = m
edd.to_csv("end_position2index.csv",index=False,sep=',')

In [35]:
dataframe

           lon        lat   cnt
0   104.074890  30.665570  3551
1   104.089270  30.650850  2543
2   104.066200  30.684440  2472
3   104.087080  30.682100  2138
4   104.105324  30.663950  2098
5   104.043860  30.682320  1805
6   104.061520  30.642740  1505
7   104.051930  30.700400  1485
8   104.040627  30.662699  1474
9   104.073181  30.702131  1470
10  104.119460  30.679890  1261
11  104.104421  30.695113  1186
12  104.027790  30.695670   934
13  104.042790  30.717170   851
14  104.121926  30.650748   745
15  104.106905  30.637895   703
16  104.100320  30.717220   638
17  104.019240  30.667720   526
18  104.024610  30.648170   486
19  104.075040  30.723560   460
20  104.047320  30.627060   457
21  104.090850  30.620860   420
22  104.144240  30.672820   333
23  104.000170  30.676930   326
24  104.052100  30.733590   307
25  104.070871  30.609781   305
26  104.125430  30.705870   302
27  104.025100  30.630030   294
28  104.051500  30.766300   290
29  104.013360  30.717440   274
..         ...        ...   ...
59  104.166400  30.716830    66
60  104.117340  30.744500    65
61  104.179750  30.649580    60
62  103.951230  30.664400    59
63  104.186570  30.686900    56
64  104.066940  30.543080    54
65  104.048920  30.785830    54
66  103.964280  30.691560    53
67  103.971137  30.758578    51
68  103.994350  30.736990    51
69  103.976820  30.576990    48
70  104.144810  30.713420    48
71  104.146370  30.732690    46
72  104.109741  30.590190    46
73  103.971099  30.740532    46
74  104.036230  30.578170    45
75  104.000370  30.601520    43
76  104.003310  30.570320    41
77  104.096730  30.551120    39
78  104.137300  30.585470    39
79  104.036360  30.557410    38
80  104.185730  30.667395    37
81  103.996810  30.755880    36
82  104.162730  30.597120    36
83  104.138110  30.792841    36
84  104.058428  30.802345    35
85  104.078050  30.810120    34
86  104.020100  30.592551    33
87  104.159790  30.802950    30
88  104.142230  30.760020    30

[89 rows x 3 columns]

In [36]:
dataframe.to_csv("output.csv",index=False,sep=',')